<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search for gifs"
  #gif (keyup.enter)="search(gif.value)"
    aria-label="Search">
</form>

<div *ngIf='!successFlag'>
  <small>No results</small>
</div>

<div class="gifs">
  <div class="gifs" *ngFor='let gif of gifs'>
    <img [src]="gif.images.fixed_width_downsampled.url" alt="Image">
  </div>
</div>
